[submodule "examples/elm-todomvc"]
	path = examples/elm-todomvc
	url = https://github.com/evancz/elm-todomvc.git
[submodule "examples/elm-street-404"]
	path = examples/elm-street-404
	url = https://github.com/zalando/elm-street-404.git
[submodule "examples/game2048elm"]
	path = examples/game2048elm
	url = https://github.com/zindel/game2048elm.git
