{
	"env": {
		"prepared": {
			"plugins": ["../elm-pre-minify.js"]
		},
		"optimized-babili": {
			"presets": ["babili"],
			"plugins": ["../elm-pre-minify.js"]
		},
		"vanilla-babili": {
			"presets": ["babili"]
		}
	}
}